*{
    margin: 0;
    padding: 0;
}
body{
    background: black;
}
.moon{
    background: black;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    margin: 0 auto;
    margin-top: 50px;
}
.moon::before{
    position: absolute;
    content: "";
    background-color: aliceblue;
    display: block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    z-index: -1;
    animation: 5.2s animation linear infinite alternate;
}
@keyframes animation{
    0%{
        transform: translateX(40px) scale(0.9);
        box-shadow: none;
    }
    50%{
        transform: translate(0px,0px) scale(1.02);
        box-shadow: 0 0 10px white, 0 0 80px white;
    }
    100%{
        transform: translatex(-40px) scale(0.9);
        box-shadow: none;
    }
}